.App {
  text-align: center;
}

button {
  margin: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.go_anim {
  animation: anim1;
  transition: ease 3s;
  color: blue;
}


.stop_anim {
  animation: anim1 reverse;
  transition: ease 3s;
  color: black;
}


@keyframes anim1 {
  from {
    color: black;
  } to {
        color: blue;
      }
}
